<h1>
  Edit match #<%= @match.id %>
</h1>

<hr>

<form action="/update_match/<%= @match.id %>" method="post">

  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @match.date %>">
  </div>

  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @match.start_time %>">
  </div>

  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <input type="text" id="end_time" name="end_time" class="form-control" value="<%= @match.end_time %>">
  </div>

  <div class="form-group">
    <label for="state_id">
      State
    </label>

    <input type="text" id="state_id" name="state_id" class="form-control" value="<%= @match.state_id %>">
  </div>

  <div class="form-group">
    <label for="sender_slot_id">
      Sender slot
    </label>

    <%= select_tag(:sender_slot_id, options_from_collection_for_select(Slot.all, :id, :user_id, @match.sender_slot_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="recipient_slot_id">
      Recipient slot
    </label>

    <%= select_tag(:recipient_slot_id, options_from_collection_for_select(Slot.all, :id, :user_id, @match.recipient_slot_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update match
  </button>
</form>

<hr>

<a href="/matches">
  Go back
</a>
