<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All my matches
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "match_templates/matches_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Date
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
          Matched username
        </th>

        <th>
        </th>
      </tr>

      <% @matches.each do |match| %>
      <tr>

        <td>
          <%= match.start_time.to_date %>
        </td>

        <td>
          <%= match.start_time.strftime("%H:%M:%S %Z") %>
        </td>

        <td>
          <%= match.end_time.strftime("%H:%M:%S %Z") %>
        </td>

        <td>
          <% if match.sender_slot.user_id == current_user.id %>
            <%= match.recipient_slot.user.username %>
          <%else%>
            <%= match.sender_slot.user.username %>
          <% end %>
        </td>

        <td>
          
          <button type="button" class="btn btn-dark">
          <a href="/matches/<%= match.id %>">
             <font color="white">Show details</font>
          </a>
          </button>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @matches, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
