<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Match  details with <%= @match.recipient_slot.user.username %>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/matches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Date (MM/DD/YYYY)
      </dt>
      <dd>
        <% if @match.start_time.to_date == @match.end_time.to_date %>
            <% date = @match.start_time.to_date.strftime("%m/%d/%Y") %>
          <% else %>
            <% date = @match.start_time.to_date.strftime("%m/%d/%Y").to_s + " - " + @match.end_time.to_date.strftime("%d/%m/%Y").to_s %>
          <% end %>
          
          <%= date %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @match.start_time.in_time_zone(current_user.preferred_timezone).strftime("%l:%M %p") + " " + Time.now.in_time_zone(current_user.preferred_timezone).zone %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @match.end_time.in_time_zone(current_user.preferred_timezone).strftime("%l:%M %p") + " " + Time.now.in_time_zone(current_user.preferred_timezone).zone %>
      </dd>

      <!--<dt>-->
      <!--  State-->
      <!--</dt>-->
      <dd>
        <%= @match.state_id %>
      </dd>

      <dt>
        Related slot
      </dt>
      <dd>
        <% if @match.sender_slot.user_id == current_user.id %>
          <a href="/slots/<%= @match.sender_slot_id %>">
            View related slot
          </a>
          <%else%>
          <a href="/slots/<%= @match.recipient_slot_id %>">
            View related slot
          </a>
        <% end %>
      </dd>

    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "match_templates/match_comments" %>
  </div>
</div>

