<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All slots
    </h1>

  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "slot_templates/slots_search_form" %>
  </div>
</div>



<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
        </th>
      </tr>

      <% @slots.each do |slot| %>
      <tr>
        <td>
          <%= slot.id %>
        </td>

        <td>
          <%= slot.date %>
        </td>

        <td>
          <%= slot.start_time.to_time %>
        </td>

        <td>
          <%= slot.end_time %>
        </td>

      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @slots, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>

<h1>
  Add a new slot
</h1>


<hr>

<form action="/create_slot" method="post" class="form-inline">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  
  <label for="date">
    Date
  </label>
  <input type="date" class="form-control mr-4 ml-4" id="date" name="date" class="form-control">
  
  <label for="start_time">
    Start time
  </label>
  <input type="time"  class="form-control mr-4 ml-4" id="start_time" name="start_time" class="form-control">
  
  <label for="end_time">
    End time
  </label>
  <input type="time" class="form-control mr-4 ml-4" id="end_time" name="end_time" class="form-control">
  
  <button class="btn btn-block btn-outline-secondary mt-4">
    Create slot
  </button>
</form>

<hr>

<a href="/slots">
  Go back
</a>

