<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Slot details for <%= User.find(@slot.user_id).username %>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/slots" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @slot.user %>
          <a href="/slots/<%= @slot.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit slot
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @slot.user %>
          <a href="/delete_slot/<%= @slot.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete slot
          </a>
        <% end %>
      </div>
    </div>
<% zone_abbr = Time.now.in_time_zone(current_user.preferred_timezone).zone %>

    <dl>

      <dt>
        Date
      </dt>
      <dd>
        <% if @slot.start_time.to_date == @slot.end_time.to_date %>
            <% date = @slot.start_time.to_date.strftime("%m/%d/%Y") %>
          <% else %>
            <% date = @slot.start_time.to_date.strftime("%m/%d/%Y").to_s + " - " + @slot.end_time.to_date.strftime("%m/%d/%Y").to_s %>
          <% end %>
          
          <%= date %>
      </dd>
      
      <dt>
        User's Preferred Timezone: 
      </dt>
      <dd>
        <font color="red"><%= current_user.preferred_timezone %> (<%= zone_abbr %>)</font>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @slot.start_time.in_time_zone(current_user.preferred_timezone).strftime("%l:%M %p") %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @slot.end_time.in_time_zone(current_user.preferred_timezone).strftime("%l:%M %p") %>
      </dd>

      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@slot.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "slot_templates/slot_sent_matches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "slot_templates/slot_received_matches" %>
  </div>
</div>
